.formulario {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 30px auto;
    align-items: center;
}


.formulario h2 {
    font-size: 22px;
    font-weight: bold;
    color: #ff66b2;
    text-align: center;
    margin-bottom: 20px;
}


.lista-tareas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
}

.lista-tareas input {
    padding: 8px;
    border: 1px solid #ff66b2;
    border-radius: 5px;
    width: 80%;
    margin-right: 10px;
}


.lista-tareas button {
    background-color: #ff66b2;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.lista-tareas button:hover {
    background-color: #ff3385;
}

button {
    background-color: #ff66b2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff3385;
}
